* {
    font-family: Arial, Helvetica, sans-serif: 16px;
}

body {
    background-color: rgb(218, 64, 17);
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow:3px 3px 5px rgb(13, 11, 11);

}

iframe {
    width: 500px;
}

h1 {
    font-size: 2cm;
    color: blue;
}
h2 {
    font-size: medium;
    color:blueviolet;
}

img.lado {
    float: right;
}

a {
    text-decoration: dashed;
    font-weight: bold;
    color: aqua;
}

a:hover {
    text-decoration: underline;
    color: pink;
}